@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: #333;
  }
  
  * {
    @apply border-[#dcdce4];
  }

  html, body {
    @apply w-full h-full
  }

  .material-symbols-rounded,
  .icon {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-flex;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    @apply inline-flex justify-center items-center;
  }

  .icon-500 {
    font-variation-settings:
    'wght' 500;
  }
  
  .icon-600 {
    font-variation-settings:
    'wght' 600;
  }

  .icon-fill {
    font-variation-settings:
    'FILL' 1;
  }

  /* input, select, textarea {
    background: transparent !important;
  }
  input:focus, textarea:focus, a:focus {
    outline: none;
	}

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    transition: background-color 600000s 0s, color 600000s 0s;
  }  */

  [hidden] {
    @apply !hidden;
  }
}

@layer components {
  .icon-svg {
    @apply block w-5 h-5;
  }

  .icon-svg svg,
  .icon-svg img {
    @apply !w-full !h-full !fill-current;
  }

  .bg-make-transparent {
    background: repeating-conic-gradient(rgb(246,246,249) 0%,rgb(246,246,249) 25%,transparent 0%,transparent 50%) 50% center / 20px 20px;
  }
}

@layer utilities {
  .shimmer {
    color: grey;
    display:block;
    -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 2.5s infinite;
  }
}

@keyframes shimmer {
  100% {-webkit-mask-position:left}
}